.btnDoiMK {
    border-radius: 15px;
    padding: 7px 15px 7px 15px;
    border: none;
    background-color: #717e94;
    text-align: center;
    justify-content: center;
    display: block;
    color: white;
}

.form-inputPass {
    width: 300px;
    border-radius: 13px;
    outline: none;
    border: none;
    display: block;
    height: 20px;
    background-color: #f7f7f7;
    margin-top: 10px;
    padding: 20px;
}
